.MusicPlayAudio
    width: 700px
    margin-top: 10px
.MusicPlayAudioTitle
    margin-top: 200px
    padding: 20px 40px
.ButtonGroup
    margin-top: 10px
.Button
    padding: 8px 12px
    margin-left: 20px
.MusicPlayer
    margin-left: 20px